In [1]:
# import numpy as np
import pandas as pd
import time

In [2]:
dfile = pd.read_csv("dataset/BMS Requirements.csv")
dfile

,Req ID,Req Name,Description,Pre-requisite,Cost,Value,Test Cases,Importance
0,101,URL,Unique web address to access the website,0,8,9,3,H
1,102,Choose Region Modal,To choose the city inorder to proceed,101,3,2,3,H
2,103,Home Page,Contains various...,102,7,8,5,H
3,104,Change Region,Enables to change the city,103,4,3,1,M
4,105,Search,To perform search,103,6,7,2,H
...,...,...,...,...,...,...,...,...
95,196,Brand Promotion,Corporate Brand Promotion,194,6,4,2,H
96,197,Bulk SMS Communication,Corporate feature enabling communication via S...,194,7,7,1,L
97,198,Corporate Gifting,Customizable Corporate Gifting schemes,194,4,8,3,M
98,199,Partner with BookMyShow,Partner with BookMyShow Corporate Suite,194,4,5,2,H
99,200,Logout,To logout from the current session,103,5,4,5,H

In [3]:
dfile=dfile.drop(["Description","Test Cases"],axis=1)

In [4]:
dfile['Pre-requisite'].unique()

array([  0, 101, 102, 103, 105, 107, 112, 114, 127, 133, 136, 137, 138,
       139, 142, 143, 146, 147, 164, 172, 174, 175, 179, 183, 188, 189,
       192, 194])

In [5]:
PRE_REQ_C = [0]*dfile['Req ID'].count()
dfile['PRE_REQ_COUNT'] = PRE_REQ_C
dfile.head()

,Req ID,Req Name,Pre-requisite,Cost,Value,Importance,PRE_REQ_COUNT
0,101,URL,0,8,9,H,0
1,102,Choose Region Modal,101,3,2,H,0
2,103,Home Page,102,7,8,H,0
3,104,Change Region,103,4,3,M,0
4,105,Search,103,6,7,H,0

In [6]:
for i in dfile['Pre-requisite']:
    if (i in dfile['Req ID'].values):
        print(i," is a Pre-requisite", end=" ")
        x = dfile.loc[dfile['Req ID'] == i].index.values[0]
        print("at row: ",x, end='\n')
        dfile['PRE_REQ_COUNT'][x] = dfile['PRE_REQ_COUNT'][x]+1

101  is a Pre-requisite at row:  0
102  is a Pre-requisite at row:  1
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
105  is a Pre-requisite at row:  4
103  is a Pre-requisite at row:  2
107  is a Pre-requisite at row:  6
107  is a Pre-requisite at row:  6
107  is a Pre-requisite at row:  6
107  is a Pre-requisite at row:  6
107  is a Pre-requisite at row:  6
103  is a Pre-requisite at row:  2
112  is a Pre-requisite at row:  11
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
114  is a Pre-requisite at row:  13
127  is a Pre-requisite at row:  26
127  is a Pre-requisite at row:  26
127  is a Pre-requisite at row:  26
127  is a Pre-requisite at row:  26
127  is a Pre-requisite at row:  26
127  is a Pre-requisite at row:  26
127

/home/dmb/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  is a Pre-requisite at row:  26
127  is a Pre-requisite at row:  26
133  is a Pre-requisite at row:  32
136  is a Pre-requisite at row:  35
137  is a Pre-requisite at row:  36
138  is a Pre-requisite at row:  37
139  is a Pre-requisite at row:  38
139  is a Pre-requisite at row:  38
139  is a Pre-requisite at row:  38
142  is a Pre-requisite at row:  41
143  is a Pre-requisite at row:  42
143  is a Pre-requisite at row:  42
143  is a Pre-requisite at row:  42
143  is a Pre-requisite at row:  42
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
146  is a Pre-requisite at row:  45
147  is a Pre-requisite at row:  46
147  is a Pre-requisite at row:  46
147  is a Pre-requisite at row:  46
147  is a Pre-requisite at row:  46
147  is a Pre-requisite at row:  46
114  is a Pre-requisite at row:  13
114  is a Pre-requisite at row:  13
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
164  is a Pre-requisite at row:  63
172  is a Pre-requisite at row:  71
174  is a Pre-requisite at row:  73
175  is a Pre-requisite at row:  74
147  is a Pre-requisite at row:  46
114  is a Pre-requisite at row:  13
114  is a Pre-requisite at row:  13
179  is a Pre-requisite at row:  78
179  is a Pre-requisite at row:  78
179  is a Pre-requisite at row:  78
179  is a Pre-requisite at row:  78
183  is a Pre-requisite at row:  82
147  is a Pre-requisite at row:  46
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
103  is a Pre-requisite at row:  2
188  is a Pre-requisite at row:  87
189  is a Pre-requisite at row:  88
188  is a Pre-requisite at row:  87
188  is a Pre-requisite at row:  87
192  is a Pre-requisite at row:  91
103  is a Pre-requisite at row:  2
194  is a Pre-requisite at row:  93
194  is a Pre-requisite at row:  93
194  is a Pre-requisite at row:  93
194  is a Pre-requisite at row:  93
194  is a Pre-requisite at row:  93
103  is a Pre-requisite at row:  2

In [7]:
dfile.head()

,Req ID,Req Name,Pre-requisite,Cost,Value,Importance,PRE_REQ_COUNT
0,101,URL,0,8,9,H,1
1,102,Choose Region Modal,101,3,2,H,1
2,103,Home Page,102,7,8,H,21
3,104,Change Region,103,4,3,M,0
4,105,Search,103,6,7,H,1

In [8]:
n = pd.get_dummies(dfile["Importance"])
dfile=pd.concat([dfile,n],axis=1)
dfile.head()

,Req ID,Req Name,Pre-requisite,Cost,Value,Importance,PRE_REQ_COUNT,H,L,M
0,101,URL,0,8,9,H,1,1,0,0
1,102,Choose Region Modal,101,3,2,H,1,1,0,0
2,103,Home Page,102,7,8,H,21,1,0,0
3,104,Change Region,103,4,3,M,0,0,0,1
4,105,Search,103,6,7,H,1,1,0,0

In [9]:
Weightage = [0]*dfile['Req ID'].count()
dfile['Weightage'] = Weightage

In [10]:
dfile = dfile.drop(['Importance'], axis=1)

In [11]:
dfile['Weightage']=( (1/(dfile['Req ID'].count()) )*dfile["PRE_REQ_COUNT"])+(10-(dfile["Cost"]/dfile['Value']) )+(10*dfile['H'])+(5*dfile['M'])+(1*dfile['L'])
dfile

,Req ID,Req Name,Pre-requisite,Cost,Value,PRE_REQ_COUNT,H,L,M,Weightage
0,101,URL,0,8,9,1,1,0,0,19.121111
1,102,Choose Region Modal,101,3,2,1,1,0,0,18.510000
2,103,Home Page,102,7,8,21,1,0,0,19.335000
3,104,Change Region,103,4,3,0,0,0,1,13.666667
4,105,Search,103,6,7,1,1,0,0,19.152857
...,...,...,...,...,...,...,...,...,...,...
95,196,Brand Promotion,194,6,4,0,1,0,0,18.500000
96,197,Bulk SMS Communication,194,7,7,0,0,1,0,10.000000
97,198,Corporate Gifting,194,4,8,0,0,0,1,14.500000
98,199,Partner with BookMyShow,194,4,5,0,1,0,0,19.200000
99,200,Logout,103,5,4,0,1,0,0,18.750000

In [12]:
# Pre defining the objective functions used
def adder(arguments):
    # x1, x2, x3 = arguments
    return sum(arguments)

def fitting_fn(genome):
    x1, x2, x3, x4, x5 = genome
    return x1*0.9 + x2*0.5 + x3*0.1 +  (1-( x4/x5 ) )

### GA

In [13]:
ga_start = time.time()

In [14]:
from GA import GeneticAlgorithm

population_size = 100; genome_length = 5

ga = GeneticAlgorithm(
    fitting_fn, 
    pop_size=population_size, 
    genome_length=genome_length,
    lb=[0, 0, 0, 10, 10],
    ub=[2, 2, 2, 20, 20]
)
ga.generate_binary_population()
ga.number_of_pairs = 4


# ga.selective_pressure = 1.5
# ga.mutation_rate = 0.1

ga.run(100)

best_genome, best_fitness = ga.get_best_genome()
print("Best values for x: ", (1*best_genome))
print("Best value for f(x):", best_fitness)

/home/dmb/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in true_divide

Best values for x:  [1 1 1 0 1]
Best value for f(x): 2.5

In [15]:
ga_total = time.time() - ga_start
print("GA took ",ga_total," seconds")

GA took  0.8078145980834961  seconds

### PSO

In [16]:
pso_start = time.time()

In [17]:
from PSO import PSO


instance = PSO(func=adder, dim=3, lb=[1, 2, 3], ub=[10, 20, 30])
pso_result = instance.run(max_iter=100)

print("Best values of x: ", pso_result.gbest_x)
print("Best values of f(x): ", pso_result.gbest_y)

Running PSO...
	Iteration  0  complete
	Iteration  1  complete
	Iteration  2  complete
	Iteration  3  complete
	Iteration  4  complete
	Iteration  5  complete
	Iteration  6  complete
	Iteration  7  complete
	Iteration  8  complete
	Iteration  9  complete
	Iteration  10  complete
	Iteration  11  complete
	Iteration  12  complete
	Iteration  13  complete
	Iteration  14  complete
	Iteration  15  complete
	Iteration  16  complete
	Iteration  17  complete
	Iteration  18  complete
	Iteration  19  complete
	Iteration  20  complete
	Iteration  21  complete
	Iteration  22  complete
	Iteration  23  complete
	Iteration  24  complete
	Iteration  25  complete
	Iteration  26  complete
	Iteration  27  complete
	Iteration  28  complete
	Iteration  29  complete
	Iteration  30  complete
	Iteration  31  complete
	Iteration  32  complete
	Iteration  33  complete
	Iteration  34  complete
	Iteration  35  complete
	Iteration  36  complete
	Iteration  37  complete
	Iteration  38  complete
	Iteration  39  complete
	Iteration  40  complete
	Iteration  41  complete
	Iteration  42  complete
	Iteration  43  complete
	Iteration  44  complete
	Iteration  45  complete
	Iteration  46  complete
	Iteration  47  complete
	Iteration  48  complete
	Iteration  49  complete
	Iteration  50  complete
	Iteration  51  complete
	Iteration  52  complete
	Iteration  53  complete
	Iteration  54  complete
	Iteration  55  complete
	Iteration  56  complete
	Iteration  57  complete
	Iteration  58  complete
	Iteration  59  complete
	Iteration  60  complete
	Iteration  61  complete
	Iteration  62  complete
	Iteration  63  complete
	Iteration  64  complete
	Iteration  65  complete
	Iteration  66  complete
	Iteration  67  complete
	Iteration  68  complete
	Iteration  69  complete
	Iteration  70  complete
	Iteration  71  complete
	Iteration  72  complete
	Iteration  73  complete
	Iteration  74  complete
	Iteration  75  complete
	Iteration  76  complete
	Iteration  77  complete
	Iteration  78  complete
	Iteration  79  complete
	Iteration  80  complete
	Iteration  81  complete
	Iteration  82  complete
	Iteration  83  complete
	Iteration  84  complete
	Iteration  85  complete
	Iteration  86  complete
	Iteration  87  complete
	Iteration  88  complete
	Iteration  89  complete
	Iteration  90  complete
	Iteration  91  complete
	Iteration  92  complete
	Iteration  93  complete
	Iteration  94  complete
	Iteration  95  complete
	Iteration  96  complete
	Iteration  97  complete
	Iteration  98  complete
	Iteration  99  complete
Best values of x:  [1.74991079 7.83036568 3.18908384]
Best values of f(x):  12.769360310655173

In [18]:
pso_total = time.time()-pso_start
print("PSO took ",pso_total," seconds")

PSO took  0.37423276901245117  seconds